.mgi_sizes {
    height: 40px;
    background: #35363A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mgi_sizes button i {
    color: #86888A;
    font-size: 25px;
}

.mgi_sizes button {
    position: relative;
}

.mgi_sizes button::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    right: -10px;
    background: #86888A;
    top: 50%;
    transform: translateY(-50%);
}

.mgi_sizes button:last-child::after {
    display: none;
}

.mgi_sizes button.active i {
    color: #fff;
}

.mgi_sizes button:hover i {
    color: #fff;
}

iframe {
    position: fixed;
    top: 40px;
    left: 0;
    bottom: 0;
    transition: all .4s;
    right: 0;
    width: 100%;
    height: calc(100% - 40px);
    border: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    z-index: 100;
}
